body{
    background: rgba(255, 199, 0, 0.43);
    margin: 0px;
    color:green;
}

.home{

    text-align: center;
}

.home_header{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 100px;
    margin-top: 0px;
    
}
* {box-sizing: border-box}
.mySlides1, .mySlide2 {display: none}
img {vertical-align: middle;}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
  border-radius: 3px 0 0 3px;
} 

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* .container{
    
    margin-top: 200px;
} */
.landing-pics{
    width: 80%;
    
}

input{
    border-radius:50px;
    margin-top: 5px;
    text-align: center;
}
button{
    margin-top: 5px;
}

.profile{
    text-align: center;
}

label{
    width:140px;
    
    text-align: center;
    
}
.preference{
    display: flex;
    justify-content:space-around;
}

.savebtn{
    margin-top: 50px;
    border-radius: 20px;
    

}

.hikconta{
    display: flex;
}

.catagoryimage{

    width: 200px;
    height: 200px;
    
    margin-left: 20px;
}
.gamecont{
    display: flex;
}
/* .hiking{
    height: 50%;
    width: 80%;
    background-color: red;
} */



